.page-header {
  padding: 16px 30px 32px 30px;
}

.page-title {
  font-family: "Oxygen", sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;

  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #d40101
}

@media screen and (min-width: 798px) {
  .page-header {
    max-width: 1224px;
    margin: auto;
  }

}

@media screen and (min-width: 1182px) {
  .page-header {
    padding-top: 32px;
  }
}
/* @media screen and (min-width: 1966px) {
  .page-header {
    max-width: 1966px;
    margin: auto;
  }
} */
