/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: calc(93vw - 32px);
    margin: auto;
}

form {
  padding: 32px 0;
}

label {
  color: #8f8f8f;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  margin-bottom: -8px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 18px;
}

.input {
  color: #8f8f8f;
  border: none;
  outline: none;
  border-bottom: 2px solid #8f8f8f;
  background: none;
  resize: none;
  border-radius: 0;
  font-family: "Nunito Sans", sans-serif;
  -webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}
.input:focus, .changeStyle input,
.changeStyle textarea  {
  color: #0a0a0a;
  font-size: 16px;
  border-bottom-color: #0a0a0a;
}

.input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 32px;
}
.input-container:focus-within label {
  margin-bottom: 0px;
  padding-bottom: 16px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.changeStyle label {
  padding-bottom: 16px;
  margin-bottom: 0px;
  font-size: 16px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.btn-container input {
  padding: 9px 58px;
  font-size: 1em;
}

.btn-container:hover input {
  color: white;
  background-color: #d40101a8;
  border-color: transparent;
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-container:hover .btn-send{
 color: #d40101a8;;
 -webkit-transition: color .3s ease;;
 -o-transition: color .3s ease;;
 transition: color .3s ease;
}

.contact-intro {
  font-weight: 200;
}

@media screen and (min-width: 798px) {
  .form-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 1224px;
    margin: auto;
  }
  .contact-intro {
    padding: 32px 32px 0 32px;
    margin: initial;
    width: 50vw;
  }
  form {
    width: 50vw;
    padding-right: 32px;
  }

}