.mobile-menu {
    position: fixed;
    right: 20px;
    top: 32px;
    z-index: 2000;
    width: 45px;   
}

.mobile-menu .bar {
    height: 4px;
    width: 100%;
    background: linear-gradient(45deg, #FF5E6B, #E2177F);
    transition: width 0.55s ease;
}
.mobile-menu .bar:nth-child(2) {
    margin-top: 6px;
    margin-bottom: 6px;
}

.mobile-menu.scale-down .bar:nth-child(1){
    width: 25%;
}

.mobile-menu.scale-down .bar:nth-child(2){
    width: 50%;
}

.mobile-menu.scale-down .bar:nth-child(3){
    width: 75%;
}


.nav-links {
    background-color: #353535;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    position: fixed;
    transform: translateX(100%);
    top: 0;
    right: 0;
    height: 100vh;
    width: 60vw;
    padding-top: 3.5rem;
    transition: transform 0.3s ease-in-out;
    z-index: 200;
}

.nav-links.show {
    transform: translateX(0);
}



.nav-links li{
    font-family: 'Oxygen', sans-serif;
    margin-bottom: 20px;
}


.nav-links li a.active-link, .nav-links li a:hover{
    z-index: 100;
    font-weight: 700;
    background-color: #FF5E6B; ;
    background-image: linear-gradient(45deg, #FF5E6B, #E2177F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.nav-links li a{
    text-decoration: none;
    font-weight: 100;
    color: #C7C7C7;
    font-size: 20px;
    text-transform: uppercase;

}





