.home-nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
  height: 100%;
  width: 100%;
}

.home-nav-container li {
  padding: 16px;
}

.home-nav-container li .home-nav-links {
  font-family: "Oxygen", sans-serif;
  font-size: 2em;
  color: transparent;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 500;
  transition: letter-spacing 0.3s ease, font-weight 0.4s ease;


  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #d40101;
}

.home-nav-container li:hover .home-nav-links {
  letter-spacing: 0;
  /* font-weight: 200; */
}

@media screen and (min-width: 798px) {
  .container {
    max-width: 1200px;
    margin: auto;
    width: 100%;
  }
  .home-nav-container {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: static;
    transform: translate(0px, 0px);
    padding-left: 56px;
    padding-right: 56px;
  }
  .home-nav-container li {
      width: 33.33vw;
      text-align: center;
  }

}
