* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #root {
  height: 100vh;
} */

img {
  width: 100%;
}
.page-wrapper {
 padding-top: 50px;
  background-color: #f2f2f2;
}

.about {
  /* display: grid; */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  padding: 32px 32px;
}

.contact {
  background: #f2f2f2;
  width: 100%;
  margin: auto;
}

body {
  overflow-x: hidden !important;
  overflow-y: initial !important;
  font-family: "Nunito Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2f2f2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media screen and (min-width: 448px) {
  body {
    font-size: 18px;
  }
}

@media screen and (min-width: 622px) {
  body {
    font-size: 20px;
  }
}

@media screen and (min-width: 798px) {

  .page-wrapper{ 
    padding-top: 50px;
  }
  .about  {
   display: flex;
   flex-direction: row-reverse;
   max-width: 1131px;
   margin: auto;
  }


}

@media screen and (min-width: 1182px) {
  body {
    font-size: 22px;
  }
}
