.content-container {
    transform: translateY(-160px);
}

.card-container {
    float: right;
    width: 75%;
    shape-outside: url("/images/farida.png");
    shape-image-threshold: 0;
    shape-margin: 3.5%;
    margin-right: -32px;
}


.content-title {
    font-family: "Oxygen", sans-serif;
    font-weight: 700;
    font-size: 200px;
    color: #464545;
    opacity: 0.5;
    font-size: 5em;
    margin-left: -5px;
}

.content-text {
font-family: "Nunito Sans", sans-serif;
font-weight: 300;
color: #565656;
padding-bottom: 16px;
text-align: justify;
padding-top: 3%;
}

.btn {
padding: 8px 8px;
display: flex;
align-items: center;
}
.btn a{
    margin-right: 16px;
    text-decoration: none;
    letter-spacing: 0.1em;
    font-family: "Oxygen", sans-serif;
    text-transform: uppercase;
}
.btn a, #btn-arrow-right {
    color: #0a0a0a;
    transition: color .3s ease;
}

.btn:hover a,  .btn:hover #btn-arrow-right{
    color:  #d40101a8;
    transition: color .3s ease;
}


@media screen and (min-width: 798px) {
    .content-container {
        transform: translateY(0px);
    }

     .card-container {
        width: 50%;
    }
    .content-container{
        padding-right: 32px;
    }
    .content-text {
        text-align: unset;
    }
  }