.content-container {
  transform: translateY(-160px);
}

.card-container {
  border-radius: 10%;
  width: 50%;
  float: right;
  margin-top: 6em;
  padding: 0px 0 0 16px;
}

.card-container img{
  border-radius: 10%;
}

.content-title {
  font-family: "Oxygen", sans-serif;
  font-weight: 700;
  font-size: 200px;
  color: #464545;
  opacity: 0.3;
  font-size: 5em;
  margin-left: -5px;
  margin-top: -16px;
}

.content-text {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  color: #565656;
  padding-bottom: 16px;
  text-align: justify;
  padding-top: 3%;
}

.content-text p {
  padding-bottom: 16px;
}
.content-text p:nth-child(1) {
    font-weight: 400;
    color: #3c3b3b;
}

.btn {
  padding: 8px 0px;
  display: flex;
  align-items: center;
}
.btn a {
  margin-right: 16px;
  text-decoration: none;
  font-family: "Oxygen", sans-serif;
  text-transform: uppercase;
  border: 1px solid #d40101a8;
  border-radius: 20px;
  padding: 8px 22px;
  font-size: 14px;
  display: block;
  color: #d40101a8;
  text-decoration: none;
  transition: all 0.3s ease;
}

.btn a:last-child {
  margin-left: 32px;
}

.btn a:hover {
  color: white;
  background-color: #d40101a8;
  border-color: transparent;
  transform: scale(1.05);
  transition: all 0.3s ease;
}

@media screen and (min-width: 798px) {
  .content-container {
    transform: translateY(0px);
  }

  .card-container {
    width: 30%;
  }
  .content-container {
    padding-right: 32px;
  }
  .content-text {
    text-align: unset;
  }
}
