.header {
    position: absolute;
    top: 36px;
    left: 16px;
    z-index: 1000;
}
.header span{
    display: block;
    text-transform: uppercase;
    text-align: left;
    font-family: 'Oxygen', sans-serif;
    color: #1E1E1E;
    font-weight: bold;
}