.project {
  background: #f2f2f2;
}

.project-card {
  padding-bottom: 50px;
}

.project-info-header {
  padding: 32px 32px;
}

.project-title {
  padding-bottom: 8px;
}

.project-title,
.tags,
.date {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 1.5em;
  color: #313131;
}

.tags,
.date {
  font-size: 0.6em;
}

.date {
  font-weight: 100;
  padding-left: 32px;
}

.project-description-container {
  padding: 32px 32px;
}

.project-description {
  padding: 32px 0 16px 0;
  color: #565656;
  font-size: 0.9em;
  line-height: 1.7;
  font-weight: 100;
}

.link-container {
  display: flex;
  flex-direction: column;
  padding: 16px 0px 0px 0px;
}
.link {
  display: flex;
  align-items: center;
}
.link:first-child {
  margin-bottom: 16px;
}

.link:nth-child(1):hover .project-site,
.link:nth-child(1):hover #btn-arrow-right,
.link:last-child:hover .src-code,
.link:last-child:hover #btn-arrow-right {
  color:  #d40101a8;;
  transition: all 0.2s ease;
}

.project-site,
.src-code {
  display: block;
  color: #313131;
  text-decoration: none;
  padding-right: 16px;
  font-weight: 100;
}
#btn-arrow-right {
  color: #313131;
}

.project-img {
  position: relative;
  z-index: 1;
  width: 90%;
  margin: auto;
}

.project-img img:hover {
  background: #bbbaba70;
}
.project-img::after {
  content: "";
  position: absolute;
  bottom: -42px;
  background: #bbbaba70;
  height: 80%;
  width: 100%;
  right: -6%;
  z-index: -1;
}



@media screen and (min-width: 622px) {
  .link-container {
    flex-direction: row;
    padding-left: 0px;
  }

  .link:first-child {
    margin-bottom: 0px;
    padding-right: 32px;
  }
  /* .project-img,
  .link-container {
    padding-right: 50px;
    padding-left: 50px;
  } */
}
@media screen and (min-width: 798px) {
  .project-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 2fr;
    max-width: 1131px;
    margin: auto;
  }

  .project-info-header {
    grid-column: 1/3;
    grid-row: 1/2;
    padding: 40px 32px 0px;
    margin-bottom: -32px;
  }


  .project-img {
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 64px 0 48px 0px;
  }
  .project-img::after {
    width: 150%;
    right: -11%;
  }

  .project-description-container {
    grid-column: 1/2;
    grid-row: 2/3;
    position: relative;
    z-index: 2;
  }

  .project-card {
    padding-bottom: 150px;
  }
}

@media screen and (min-width: 1966px) {
  .project-card {
    max-width: 1966px;
    margin: auto;
  }
  .project-description-container {
    /* width: 60%; */
    margin: auto 32px auto auto;
        padding: 32px 32px 32px 0;
  }

  .project-info-header {
    padding: 32px 32px 0px 0;
  }

  .project-img {
    margin: 40px 0px 48px 0px;
    /* width: 75%; */
  }
  .project-img::after {
    width: 100%;
    right: -15%;
    height: 100%;
    bottom: -15%;
  }
}
