.project-container {
  padding: 0 32px;
}

.project {
  background: #f2f2f2;
}

.project-card {
  padding-bottom: 50px;
}

.project-info-header {
  padding: 32px 32px;
}

.project-title,
.tags,
.date {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 1.5em;
  color: #313131;
}
.project-title {
  padding-bottom: 8px;
  font-size: 1.2em;
}

.tags,
.date {
  font-size: 0.6em;
  color: #b35d59;
}

.date {
  font-weight: 100;
  padding-left: 32px;
}

.project-description-container {
  padding: 32px 32px;
}

.project-description {
  padding: 32px 0 16px 0;
  color: #565656;
  font-size: 0.9em;
  line-height: 1.7;
  font-weight: 100;
}

.link-container {
  display: flex;
  padding: 16px 0px 0px 0px;
}
.link {
  display: flex;
  align-items: center;
}

.project-site {
  border: 1px solid #d40101a8;
  border-radius: 20px;
  padding: 6px 16px;
  font-size: 14px;
  display: block;
  color: #d40101a8;
  text-decoration: none;
  transition: all 0.3s ease;
}

.link:hover .project-site {
  color: white;
  background-color: #d40101a8;
  border-color: transparent;
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.link svg {
  fill: #d40101a8;
}
.link:hover svg {
  fill: #d40101;
}

#btn-arrow-right {
  color: #313131;
}

.project-img {
  position: relative;
  z-index: 1;
  width: 90%;
  margin: auto;
}
.project-img img{
  opacity: 0.7;
}

.project-img:hover img {
  opacity: 1;
  transition: all 0.3s cubic-bezier(0.57, 0.1, 0.24, 0.72);
}

.project-img::after {
  content: "";
  position: absolute;
  bottom: -4%;
  background: #d68a8a;
  height: 110%;
  width: 110%;
  right: -5%;
  z-index: -1;
  transform: scale(1);
  transition: all 0.3s cubic-bezier(0.57, 0.1, 0.24, 0.72);
  box-shadow: -2px 4px 8px rgb(214 162 162 / 88%);
}
.project-img:hover::after {
  transform: scale(0.97);
  transition: all 0.3s cubic-bezier(0.57, 0.1, 0.24, 0.72);
}

@media screen and (min-width: 622px) {
  .link-container {
    flex-direction: row;
    padding-left: 0px;
  }

  .link:first-child {
    margin-bottom: 0px;
    padding-right: 32px;
  }

  .project-info {
    max-width: 651px;
    margin: auto;
  }
}

@media screen and (min-width: 798px) {
  .link-container {
    flex-direction: row;
    padding-left: 0px;
  }

  .link:first-child {
    margin-bottom: 0px;
    padding-right: 32px;
  }

  .project-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 2fr;
    grid-gap: 16px;
    max-width: 1131px;
    margin: auto;
    align-items: flex-start;
  }

  .project-card:nth-child(even) .project-info-header {
    text-align: right;
  }
  .project-card:nth-child(even) .project-img {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .project-card:nth-child(even) .project-description-container {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-left: 32px;
    margin-right: 0px;
  }
  .project-card:nth-child(even) .project-description {
    text-align: right;
  }
  .project-card:nth-child(even) .link-container {
    justify-content: flex-end;
  }
  .project-info-header {
    grid-column: 1/3;
    grid-row: 1/2;
    padding: 40px 32px;
  }

  .project-img {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .project-description-container {
    grid-column: 1/2;
    grid-row: 2/3;
    position: relative;
    z-index: 2;
    background-color: rgb(251 248 248 / 67%);
    box-shadow: -2px 4px 8px rgb(232 232 232 / 88%);
  }

  .project-card {
    padding-bottom: 150px;
  }
}

@media screen and (min-width: 1966px) {
  .project-card {
    max-width: 1966px;
    margin: auto;
  }
  .project-description-container {
    margin: auto 32px auto auto;
  }

  .project-info-header {
    padding: 32px 32px 32px 0;
  }

  /* .project-img::after {
    right: -5%;
    bottom: -5%;
  } */
}
