.form-container {
  display: flex;
    flex-direction: column;
    width: calc(93vw - 32px);
    margin: auto;
}

form {
  padding: 32px 0;
}

label {
  color: #8f8f8f;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  margin-bottom: -8px;
  transition: all 0.2s ease;
  font-size: 18px;
}

.input {
  color: #8f8f8f;
  border: none;
  outline: none;
  border-bottom: 2px solid #8f8f8f;
  background-color: transparent;
  font-family: "Nunito Sans", sans-serif;
}
.input:focus {
  color: #0a0a0a;
  font-size: 1rem;
  border-bottom-color: #0a0a0a;
}
.error {
  color: #e91e63;
  padding-top: 8px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 0.6rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;
}
.input-container:focus-within label {
  margin-bottom: 0px;
  padding-bottom: 16px;
  transition: all 0.2s ease;
}

.changeStyle label {
  padding-bottom: 16px;
  margin-bottom: 0px;
  font-size: 0.8rem;
  transition: all 0.2s ease;
}
.changeStyle input,
.changeStyle textarea {
  color: #0a0a0a;
  font-size: 0.8rem;
  border-bottom-color: #0a0a0a;
}

.btn-container input {
  padding: 9px 58px;
  font-size: 0.8rem;
}

.btn-container:hover input {
  color: white;
  background-color: #d40101a8;
  border-color: transparent;
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.btn-container:hover .btn-send{
 color: #d40101a8;;
 transition: color .3s ease;
}

.contact-intro {
  font-weight: 200;
}

@media screen and (min-width: 798px) {
  .form-container {
    flex-direction: row;
    max-width: 1224px;
    margin: auto;
  }
  .contact-intro {
    padding: 32px 32px 0 32px;
    margin: initial;
    width: 50vw;
  }
  form {
    width: 50vw;
    padding-right: 32px;
  }
  .changeStyle input,
  .changeStyle textarea,
  .input:focus {
    font-weight: 100;
  }

}
