form {
  width: 80vw;
  margin: auto;
  padding: 32px 0;
}

label {
  color: #8f8f8f;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  margin-bottom: -8px;
  transition: all 0.2s ease;
  font-size: 18px;
}

.input {
  color: #8f8f8f;
  border: none;
  outline: none;
  border-bottom: 2px solid #8f8f8f;
  background-color: transparent;
  font-family: "Nunito Sans", sans-serif;
}
.input:focus {
  color: #0a0a0a;
  font-size: 20px;
  border-bottom-color: #0a0a0a;
}
.error {
  color: #e91e63;
  padding-top: 8px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
}

.input-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;
}
.input-container:focus-within label {
  margin-bottom: 0px;
  padding-bottom: 16px;
  transition: all 0.2s ease;
}

.changeStyle label {
  padding-bottom: 16px;
  margin-bottom: 0px;
  font-size: 18px;
  transition: all 0.2s ease;
}
.changeStyle input,
.changeStyle textarea {
  color: #0a0a0a;
  font-size: 20px;
  border-bottom-color: #0a0a0a;
}

.btn-container {
  display: flex;
  align-items: center;
  padding-top: 32px;
}
.btn-container #btn-arrow-right {
  font-size: 24px;
}

.btn-send {
  letter-spacing: 0.1em;
  font-family: "Oxygen", sans-serif;
  text-transform: uppercase;
  color: #0a0a0a;
  background: none;
  border: none;
  padding-right: 16px;
  font-size: 24px;
  transition: color .3s ease;
}

#btn-arrow-right {
  font-size: 36px;
  color: #0a0a0a;
  transition: color .3s ease;
}

.btn-container:hover .btn-send,
.btn-container:hover #btn-arrow-right {
 color: #d40101a8;;
 transition: color .3s ease;
}

@media screen and (min-width: 798px) {
  form {
    width: 50vw;
    padding-right: 32px;
  }

  .changeStyle input,
  .changeStyle textarea,
  .input:focus {
    font-size: 24px;
    font-weight: 100;
  }

  .changeStyle label  {
    font-size: 20px;
  }
}
