/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.icon-container {
  background-color: #f2f2f2;
}

.icon-container-inner {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 32px 0 16px;
}

svg {
  fill: #c7c7c7;
  width: 50px;
  height: 50px;
  margin: 16px;
  -webkit-transition: fill 2s ease, -webkit-transform 0.3s ease;
  transition: fill 2s ease, -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease, fill 2s ease;
  transition: transform 0.3s ease, fill 2s ease;
  transition: transform 0.3s ease, fill 2s ease, -webkit-transform 0.3s ease;
  cursor: pointer;
}

svg:hover {
  fill: #d40101a8;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: fill 0.2s ease, -webkit-transform 0.3s ease;
  transition: fill 0.2s ease, -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease, fill 0.2s ease;
  transition: transform 0.3s ease, fill 0.2s ease;
  transition: transform 0.3s ease, fill 0.2s ease, -webkit-transform 0.3s ease;
}

@media (min-width: 768px) {
  .icon-container-inner svg {
    margin-top: 8px;
    width: 30px;
    height: 30px;
  }
}
